* {
  margin: 0;
  padding: 0;
}

:root {
  --color-aqua: rgb(84, 155, 150);
  --color-side: rgb(0, 122, 114);
  --color-aqua-item: rgb(60, 199, 155);
  --color-focus: rgb(93, 144, 255);
  --color-error: orangered;
  --color-primary: rgb(18, 102, 125);
  --color-white: rgb(233, 244, 249);
  --color-green: rgb(7, 191, 7);
  --color-yellow: rgb(239, 239, 12);
}

html {
  box-sizing: content-box;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: repeat(3, min-content);
}

.header {
  grid-column: 1 / -1;
  height: 8vh;
  background-color: var(--color-aqua);
}

.sidebar {
  grid-row: 2 / -1;
  background-color: var(--color-side);
  height: 92vh;
}

.todo-container {
  display: grid;
  grid-template-columns: 
    minmax(3rem, 1fr) 
    repeat(10, minmax(min-content, 10rem)) 
    minmax(3rem, 1fr);
  margin-top: 4rem;
}

.form {
  grid-column: 2 / 12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
  row-gap: 5rem;
}

.form-title {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 4rem;
}

.input {
  padding: .7rem 1rem;
  border-radius: 3px;
  border: 2px solid var(--color-primary);
  font-size: 1.5rem;
}

.buttons {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 2rem;
  justify-items: end;
}

.btn {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-clear {
  background-color: var(--color-error);
}

.product-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 
    minmax(3rem, 1fr) 
    repeat(10, minmax(min-content, 10rem)) 
    minmax(3rem, 1fr);
  margin-top: 8rem;
}

.product {
  padding: 1rem 2rem;
  grid-column: 2 / 12;
  display: grid;
  grid-template-columns: 10fr 5fr 3fr 1fr 1fr;
  font-size: 2rem;
  text-transform: capitalize;
}

.product-item {
  padding: 1.5rem 2rem;
  background-color: var(--color-aqua-item);
  color: var(--color-white);
}

.product-item:nth-child(even) {
  background-color: var(--color-side);
}

.product-remove {
  justify-self: end;
  color: var(--color-error);
  font-weight: 600;
  cursor: pointer;
}

.product-edit {
  cursor: pointer;
}